.formWrapper {
	border: 1px solid rgb(145, 118, 145);
	padding: 0.5rem;
	box-shadow: 0px 0px 6px 1px #888;
	background-color: #fff1f5;

	.formHeader {
		text-align: center;
		padding: 1rem;
	}
	.playerInfoWrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: center;

		.formControl {
			min-width: 200px;
			display: flex;
			flex-direction: column;
			margin-bottom: 0.5rem;
			label {
				margin-bottom: 0.25rem;
			}
			input {
				padding: 0.5rem;
				outline: none;
				border: 1px solid purple;
				border-radius: 0.25rem;

				&:hover,
				&:focus,
				&:active {
					border: 1px solid rgb(36, 19, 36);
				}
			}
		}
	}

	.formAction {
		text-align: center;
		margin: 2rem 0rem;
	}
}
