@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@300;400;500;600;700&family=Syne+Tactile&family=Ubuntu:wght@400;500;700&display=swap");

$text-main: rgb(22, 21, 21);

body {
	margin: 0;
	padding: 0;
	font-family: "Ubuntu", "Open-sans", sans-serif;
	font-size: 16px;
	min-height: 100vh;
	background-color: rgba($color: #97536b, $alpha: 0.3);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: $text-main;
	transition: all ease-in-out 200ms;
}

.btn-main {
	border: none;
	cursor: pointer;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	color: white;
	text-transform: uppercase;
	background-color: rgb(30, 71, 129);

	&:hover {
		background-color: rgb(39, 35, 179);
	}
}
