.cell {
    background-color: #e8dfca;
    width: 100px;
    height: 100px;
}

.cellBlue {
    width: 100%;
    color: blue;
    font-size: 5rem;
}

.cellRed {
    width: 100%;
    color: red;
    font-size: 5rem;
}